---

---

<html lang="en" class="h-full">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="h-full">
		<div class="grid grid-cols-2 h-full w-full bg-black pt-[16px] overflow-clip">
			<div class="overflow-clip">
				<iframe src="https://tavla.beta.entur.no/su8NCYaVLDINMWhQ6mbb" class="h-[415px] w-full -mt-[58px]" />
			</div>
			<div class="overflow-clip">
				<iframe src="https://www.yr.no/nb/innhold/10-995192/card.html?mode=dark" class="h-[431px] w-full" />
			</div>
		</div>
	</body>
</html>
