---

---

<html lang="en" class="h-svh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>På vei ut døra i Bergljots</title>
  </head>
  <body class="h-svh relative">
    <div class="absolute top-0 right-0 px-2 py-1 text-white font-bold tabular-nums text-2xl" id="clock" />
    <div class="grid grid-cols-1 sm:grid-cols-2 h-svh w-full bg-black pt-[16px] overflow-clip">
      <div class="overflow-clip bg-black">
        <iframe id="entur" src="https://tavla.beta.entur.no/su8NCYaVLDINMWhQ6mbb" class="h-[431px] -mt-[72px] w-full" />
      </div>
      <div class="overflow-clip">
        <iframe src="https://www.yr.no/nb/innhold/10-995192/card.html?mode=dark" class="overflow-clip h-[431px] w-full rounded-lg" />
      </div>
    </div>
  </body>
</html>

<script>
  const currentTime = () => {
    const time = Intl.DateTimeFormat('nb-NO', {
      hour: 'numeric',
      minute: 'numeric',
      second: 'numeric',
    }).format(new Date());
    document.getElementById('clock').innerText = time;
  };
  setInterval(() => currentTime(), 1000);
</script>
